/*Modificando index.html*/
body {
    margin:0px;
    border:0px;
    padding:0px
}

.banner {
    height:100vh;
    padding: 0;
}

.banner img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

/*Posicionando os containeres para as mudanças de página*/

.nextPage {
    position: fixed;
    bottom: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

.previousPage {
    position: fixed;
    top: 10px;
    left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 3;
}

/*Definindo parâmetros dos circulos que representam os botões de passagem de página*/

.circulo {
    background-color: #CCCCCC;
    border: 50%;
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/*Definindo o tamanho das setas*/

.arrow {
    width: 24px;
    height: 24px;
}

/*Alterando regras.html*/

.regras {
    height: 100vh;
    display: flex;
    background-color: #D0D0D0;
}

.regras .contentBox {
    width: 100%;
    padding: 50px;
    background-color: #C0C0C0;
}

.regras .imgBox {
    width: 100%;
    background: url(../images/Mole.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/*Alterando tabuleiro.html*/

.tabuleiro {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #00FF00;
}

.gramado {
    width: 536px;
    height: 536px;
    background-color: #008000;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    cursor: url(../images/hammer.png), crosshair;
    padding: 0px;
}

.gramado img {
    padding: 25px 50px 25px 50px;
    box-sizing: content-box;
    width: 76px;
    height: 61px;
}

.pontos {
    width: 536px;
    height: 536px;
    font-family: 'Bungee Spice', sans-serif;
    display: flex;
    justify-content: center;
    background-color: #00DD00;
}

.pontos th {
    font-size: 50px;
    text-align: center;
}

.pontos td:first-child {
    font-size: 36px;
    text-align: center;
}


#start {
    width: 100%;
    font-size: 36px;
    border: 3px solid #000000;
}

/*Alterando recordes.html*/

.records {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.records table {
    border-collapse: collapse;
    font-family: 'MedievalSharp', cursive;
}

.records th {
    background-color: #000000;
    color: #FFFFFF;
    text-align: center;
    font-size: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.records td {
    font-size: 30px;
    padding-left: 30px;
    padding-right: 30px;
}

.records tr:nth-child(even) {
    background-color: #C0C0C0;
}

.records td:first-child, td:nth-child(3) {
    text-align: right;
}

.records td:nth-child(4) {
    text-align: center;
}

/*Responsividade para telas menores do que 991px*/

@media(max-width:991px) {
    /*Regras*/
    .regras {
        flex-direction: column;
    }

    .regras .imgBox {
        height: 100%;
    }

    /*Tabuleiro*/
    .tabuleiro {
        flex-direction: column-reverse;
        height: 100%;
    }

    .pontos th {
        font-size: 30px;
    }

    .pontos td:first-child {
        font-size: 20px;
    }

    .gramado {
        height: 400px;
        width: 400px;
    }

    .pontos {
        height: 400px;
        width: 400px;
    }

    .gramado img{
        padding: 10px 30px;
    }

    /*Recordes*/
    .records tr th td {
        padding-left: 10px;
        padding-right: 10px;
    }

    .records th {
        font-size: 18px;
    }

    .records td {
        font-size: 15px;
    }
}
